<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .img-article-data {
            border: 3px solid #adb5bd;
            margin: 0 auto;
            padding: 3px;
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 10%;
        }
    </style>
</head>
<body>

<div layout:fragment="adminContent">

    <!-- Start Heading -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Article Management</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- End Heading -->

    <!-- Start table -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <button id="btnAddArticle" type="button" data-toggle="modal" data-target="#modalAddArticle"
                                class="btn btn-block bg-gradient-primary">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control float-right"
                                   placeholder="Search">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Title</th>
                                <th>Thumbnail</th>
                                <th>Author</th>
                                <th>Published</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="article, state : ${articleList}" th:object="${article}">
                                <td class="count" th:text="${state.count}"></td>
                                <td class="title" th:text="*{title}"></td>
                                <td class="thumbnail">
                                    <img th:if="*{thumbnail != ''}" th:src="@{/images/{uri}(uri=*{thumbnail})}"
                                         th:alt="*{title}"
                                         class="img-article-data img-fluid">
                                    <img th:if="*{thumbnail == ''}" src="/img/placeholder-02.png"
                                         class="img-article-data img-fluid">
                                </td>
                                <td class="author" th:text="*{author}"></td>
                                <td class="published" th:text="*{publishedDate}"></td>
                                <td>
                                    <button th:data-id="*{articleId}"
                                            th:data-category-id="*{category.id}"
                                            th:data-description="*{description}"
                                            th:data-thumbnail="*{thumbnail}"
                                            th:data-title="*{title}"
                                            type="button"
                                            class="btnViewArticle btn bg-gradient-info">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                    <button th:data-id="*{articleId}"
                                            th:data-category-id="*{category.id}"
                                            th:data-description="*{description}"
                                            th:data-thumbnail="*{thumbnail}"
                                            th:data-title="*{title}"
                                            type="button"
                                            class="btnEditArticle btn bg-gradient-success">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </button>
                                    <button th:data-id="*{articleId}"
                                            th:data-category-id="*{category.id}"
                                            th:data-description="*{description}"
                                            th:data-thumbnail="*{thumbnail}"
                                            type="button"
                                            class="btnDeleteArticle btn bg-gradient-danger">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
    <!-- End table -->

    <div th:replace="fragments/modal :: modalAddArticle"></div>

</div>

<th:block layout:fragment="scripts">
    <script src="/js/article.js"></script>
</th:block>

</body>
</html>